/* ADMIN_DASHBORD.HTML specific styles */
h1, h2 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

table {
            width: 100%;
            /* Set the width to 100% */
            border-collapse: collapse;
            margin-top: 20px;
        }
    
        table th,
        table td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }
    
        table th {
            background-color: #333;
            color: #fff;
        }
table td button {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

table td button:hover {
    background-color: #555;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 8px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}