<!DOCTYPE html>
<html lang="en">
<head>
    <title>Employee Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login-style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        {% if 'user_id' in session %}
        <a href="/dashboard" class="active">Dashboard</a>
        {% else %}
        <a href="/dashboard">Dashboard</a>
        {% endif %}
    </nav>
    <h1>Employee Login</h1>
    <form action="/login" method="POST">
        <label for="emp_email">Email:</label>
        <input type="email" name="emp_email" required><br><br>
        <label for="emp_password">Password:</label>
        <input type="password" name="emp_password" required><br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>